hts-cache/
hts-log.txt
*.tmp
.DS_Store
Thumbs.db
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
.classpath
.project
.settings
.sts4-cache
bin/
.vscode/
.idea/
*.iml
uploads/
data/
*.log
